extends layout

block content

  if (user)
    p You are currently logged in as #{user.username}
    p Countries you've been to
    
  
    div(id='chartdiv')

    div(class='container')
      ul(class="nav nav-tabs")
          li(class="active")
            a(data-toggle='tab', href='#northAmerica') North America
          li
            a(data-toggle='tab', href='#southAmerica') South America
          li
            a(data-toggle='tab', href='#europe') Europe
          li
            a(data-toggle='tab', href='#africa') Africa
          li
            a(data-toggle='tab', href='#asia') Asia
          li
            a(data-toggle='tab', href='#oceania') Oceania

      div(class='tab-content')
            div(id="northAmerica", class='tab-pane fade in active')
              form(role='form', action="/submit-country", method="post", style='max-width: 300px;')
                .form-group
                  each country in northAmericanCountries
                      p
                        input(type='checkbox', value= country, name="countries", id=country)
                        = country
                button.btn.btn-default(type='submit') Submit

            div(id="southAmerica", class='tab-pane fade')
              form(role='form', action="/submit-country", method="post", style='max-width: 300px;')
                .form-group(action="/submit-country", method="post", style='max-width: 300px;')
                  each country in southAmericanCountries
                      p
                        input(type='checkbox', value= country, name="countries", id=country)
                        = country
                button.btn.btn-default(type='submit') Submit

            div(id="europe", class='tab-pane fade')
              form(role='form', action="/submit-country",method="post", style='max-width: 300px;')
                .form-group
                  each country in europeanCountries
                      p
                        input(type='checkbox', value= country, name="countries", id=country)
                        = country
                    br
                button.btn.btn-default(type='submit') Submit

            div(id="africa", class='tab-pane fade')
              form(role='form', action="/submit-country",method="post", style='max-width: 300px;')
                .form-group
                  each country in africanCountries
                      p
                        input(type='checkbox', value= country, name="countries", id=country)
                        = country
                button.btn.btn-default(type='submit') Submit

              
            div(id="asia", class='tab-pane fade')
              form(role='form', action="/submit-country",method="post", style='max-width: 300px;')
                .form-group
                  each country in asianCountries
                      p
                        input(type='checkbox', value= country, name="countries", id=country)
                        = country
                button.btn.btn-default(type='submit') Submit
              
            div(id='oceania', class='tab-pane fade')
              form(role='form', action="/submit-country",method="post", style='max-width: 300px;')
                .form-group
                  each country in oceanicCountries
                      p
                        input(type='checkbox', value= country, name="countries", id=country)
                        = country
                button.btn.btn-default(type='submit') Submit

      a(href="/logout") Logout

